<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sherry.mapper.CategoryMapper">

    <insert id="insert">
        insert into category (category_id,fee,category_name,time,doctor_id,is_deleted)
        values (#{categoryId},#{fee},#{categoryName},#{time},#{doctorId},#{isDeleted})
    </insert>

    <update id="update">
        update category
<set>
    <if test="categoryName != null"> category_name=#{categoryName},</if>
    <if test="time != null"> time=#{time},</if>
    <if test="fee != null"> fee=#{fee},</if>
</set>
            where category_id =#{categoryId}
    </update>

    <update id="deleteById">
        update category
        set is_deleted = 1
       where category_id = #{categoryId}
    </update>


    <select id="getByDoctorId" resultType="com.sherry.entity.Category">
        select * from category where doctor_id=#{doctorId} and is_deleted != 1
    </select>

    <select id="getByCategoryId" resultType="com.sherry.entity.Category">
        select * from category where category_id=#{category_id} and is_deleted != 1
    </select>
</mapper>
