<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sherry.mapper.ModelCategoryMapper">


    <insert id="insertBath">
        insert into model_category (model_id,category_id,category_start_time,category_end_time,count,category_name) values
     <foreach collection="modelCategories" item="mc" separator=",">
         (#{mc.modelId},#{mc.categoryId},#{mc.categoryStartTime},#{mc.categoryEndTime},#{mc.count},#{mc.categoryName})
     </foreach>
    </insert>

    <delete id="deleteByModelId">
        delete from model_category where model_id=#{modelId}
    </delete>
    <select id="getByModelId" resultType="com.sherry.entity.ModelCategory">
        select * from model_category where model_id=#{modelId}
    </select>
</mapper>
