<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sherry.mapper.PatientMapper">
    <update id="update">
        update patient
<set>
    <if test="phone!=null"> phone=#{phone},</if>
    <if test="sex!=null"> sex=#{sex},</if>
    <if test="name!=null"> name=#{name},</if>
    <if test="idNumber!=null"> id_number=#{idNumber},</if>
</set>
where patient_id=#{patientId}
    </update>

    <select id="getByUsername" resultType="com.sherry.entity.Patient">
        select * from patient where username = #{username}
    </select>
    <insert id="insert">
          insert into patient (patient_id,name,username,password,phone,sex,id_number,no_show_count)
          values (#{patientId},#{name},#{username},#{password},#{phone},#{sex},#{idNumber},#{noShowCount})
    </insert>

</mapper>
