<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sherry.mapper.RegistrationMapper">

    <insert id="insert">
        insert into registration (doctor_id,model_category_id,status,visit_start_time,visit_end_time,date,category_id)
       values (#{doctorId},#{modelCategoryId},#{status},#{visitStartTime},#{visitEndTime},#{date},#{categoryId})
    </insert>
    <update id="update">
        update registration
        <set>
            <if test="patientId!=null"> patient_id=#{patientId},</if>
            <if test="status !=null"> status =#{status}</if>
        </set>
        where registration_id =#{registrationId}
    </update>

    <delete id="deleteByModelCategoryId">
        delete from registration where model_category_id=#{modelCategoryId} and date=#{date}
    </delete>
    <select id="getByDoctorId" resultType="com.sherry.vo.PatientRegistrationVO">
        select r.registration_id,r.status,r.visit_start_time,r.visit_end_time,c.category_name ,c.fee ,r.date from registration r
        join category c on r.category_id=c.category_id
        where r.date =#{date} and r.doctor_id=#{doctorId}
       order by r.visit_start_time asc
    </select>
    <select id="getByPatientId" resultType="com.sherry.vo.RegistrationVO">
        select r.registration_id, d.name as doctor_name,c.category_name ,c.fee,r.date,r.visit_start_time,r.visit_end_time ,r.status from registration r
        join  doctor  d on r.doctor_id=d.doctor_id
        join category c on r.category_id=c.category_id
       where r.patient_id=#{patientId}
       order by  r.date desc ,r.visit_start_time asc
    </select>
    <select id="pageGetByDoctorId" resultType="com.sherry.vo.RegistrationVO">
        select r.registration_id, p.name as patient_name,c.category_name ,c.fee,r.date,r.visit_start_time,r.visit_end_time ,r.status from registration r
       left join  patient  p on r.patient_id=p.patient_id
        join category c on r.category_id=c.category_id
        where r.doctor_id=#{doctorId}
        order by r.date desc ,r.visit_start_time asc

    </select>
    <select id="getPatientByDoctorId" resultType="com.sherry.vo.PatientVO">
        select r.registration_id, p.name as patient_name,p.sex,p.phone,p.patient_id,p.no_show_count,p.id_number
        from registration r
        left join  patient  p on r.patient_id=p.patient_id
        where r.doctor_id=#{doctorId} and r.status != 0
    </select>


</mapper>
